@import "tailwindcss";

@theme {
	--color-Primary: #004b5a;
	--color-Secondary: #ee7d5f;
	--color-Tertiary: #5e3595;
	--color-background: #ffffff;

	--font-family: "Roboto", sans-serif;
}

.nav-link {
	@apply px-4 py-2 hover:scale-110 transition-transform hover:text-Primary duration-200 ease-in-out;
}

body {
	@apply bg-cyan-200/20 font-family;
}

.swiper-pagination {
	bottom: 42px !important; /* Move 42px from bottom instead of default 8px */
}
