@import "tailwindcss";

@theme {
	--color-Primary: #004b5a;
	--color-Secondary: #ee7d5f;
	--color-Tertiary: #5e3595;
	--color-background: #ffffff;

	--font-family: "Roboto", sans-serif;
}

.nav-link {
	@apply px-4 py-2 hover:scale-110 transition-transform hover:text-Primary duration-200 ease-in-out;
}

body {
	@apply bg-cyan-200/10 font-family;
}

.swiper-pagination {
	bottom: 42px !important; /* Move 42px from bottom instead of default 8px */
}

/* Hamburger menu animation */
button.open .hamburger-line:nth-child(1) {
	transform: translateY(8px) rotate(45deg);
}

button.open .hamburger-line:nth-child(2) {
	opacity: 0;
}

button.open .hamburger-line:nth-child(3) {
	transform: translateY(-8px) rotate(-45deg);
}
